body {
  padding: 30px;
  font-family: 'arial';
  padding-top: 220px;
}

.topfix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-bottom: 1px solid #000;
}

.topfix input, .topfix button, span.order {
  margin: 10px;
  font-size: 14pt;
}

.allOrders {
  position: fixed;
  top: 220px;
  right: 0;
  background: #fff;
  border-left: 1px solid #000;
}

button.single, button.double {
  margin: 5px;
  padding: 5px;
  border: 2px solid #050;
  border-radius: 5px;
  background: #afa;
  cursor: pointer;
  font-size: 14pt;
  font-weight: bold;
}
